.pageMainHeading {
    margin-top: 12rem;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3rem;
}

.briefDescSection {
    background-color: #012060;
    margin-bottom: 3rem;

}

.imgAndDescBox {
    display: flex;
    /* width: 1300px; */
    margin: 0px auto;
    padding: 3rem 4rem;
    justify-content: space-between;
}

.descImg {
    width: 40%;
}

.briefDescBox {

    width: 55%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.briefDescHeading {

    font-size: 32px;
}

.briefPara
{
    font-size: 18px;
    line-height: 2rem;
}

.challengeSection
{
    padding: 0rem 4rem;
    margin-bottom: 3rem ;
}

.sectionHeading
{
    font-size: 32px;
}

.informationBox
{
    margin-top: 1rem;
}

.statement1
{
    margin-bottom: 2rem;
    line-height: 1.7rem;
    font-size: 18px;
}

.statement2
{
    padding-left: 1.5rem;
    font-size: 18px;
}
li{
    margin-bottom: 1rem;
    font-size: 18px;
}

.statement3
{
    font-size: 18px;
}

.ourRoleSection
{
    padding: 0 4rem;
    margin-bottom: 3rem;
    
}

.roleDesc
{
    font-size: 18px;
    line-height: 1.7rem;
    margin-top: 1rem;
}

.empoweringiListSection
{
    padding: 0 4rem;
    margin-bottom: 3rem;
}

.listBox
{
    margin-top: 2rem;
    padding-left: 2rem;
}

.toolsAndTechSection
{
    padding: 0 4rem;
    margin-bottom: 3rem;
}

.technology
{
    margin-top: 1rem;
    display: flex;
    column-gap: 1rem;

}

.technologyName
{
    background: #ccfff5;
    font-weight: 600;
    padding: 0.7rem 3rem;
    border-radius: 16px;
}

.valuesToClientSection
{
    padding: 0 4rem;
    margin-bottom: 3rem;
}

.highlightBoxHeading
{
    margin: 1rem 0rem;
    font-size: 19px;
    font-weight: 600;

}

.highlightsList
{
    /* padding-left: 1.5rem; */
    padding-left: 2rem;
}

.highlightsBottomPara
{
    font-size: 18px;
    font-style: italic;
    margin-top: 3rem;

}

.highlightDesc
{
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}



