.animationSection {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5.5rem;


}


.animationImgSize {
    width: 32%;
}

.sideImgCutLeft {

    position: relative;
    left: -38px;
}

.sideImgCutRight {
    position: relative;
    right: -38px;
}

.middleimage {
    position: relative;

}

.moduleSuiteSection {
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    row-gap: 20px;

    margin-bottom: 4rem;


}

.SuiteSectionHeading {
    font-size: 34px;
    font-weight: 700;
}

.modulesTabHeadings {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    padding: 16px 25px;
    font-size: 16px;
}


.pricing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}