.animationSection {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    /* position: relative; */


}


.animationImgSize {
    width: 30%;
}

.sideImgCutLeft {

    position:relative;
    /* left: 0px; */
}

.sideImgCutRight {
    position: relative;
    /* right: 0px; */
}

.middleimage
{
    position: relative;
}

.moduleSuiteSection
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0px 80px;

}

.modulesTabHeadings
{
    display: flex;
    justify-content: space-between;
}