.mainDropDownContainer {

    width: 59rem;
    /* height: 20rem; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(238, 173, 173, 0.2);
    display: flex;
    flex-direction: column;
   
    padding: 1rem 2rem;
    row-gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productConatiner {

    display: flex;
    column-gap: 1rem;
}


.titleHeading {
    font-size: 1rem;
    font-weight: 600;
    /* padding-right: 7rem; */
}



.titeDesc {
    font-size: 14px;
}


.requestDemo
{
    width: 15rem;
    background-color:  rgba(1, 176, 241, 1);
    margin: 0px auto;
    margin-top: 1rem;
    padding: 8px 0.8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}

.arrowStyle
{
    color: white;
    padding-top: 5px;
}

