.navigationContainer {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 998;
    background-color: white;
    top: 0;
    padding: 0px 15px;

}


.navigationItemBox {
    width: 100%;
    max-width: 71.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 90px;
    /* padding: 0px 74px; */

}

.navigationIcon {

    display: flex;
    align-items: center;
    column-gap: 4rem;


    padding: 0px 5px;
    margin-left: 6rem;
}

.navNameAndArrow {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
    border-bottom: 2px solid white;

}

.navName {
    font-size: 1.1rem;
    font-weight: 600;
}

.homeNav {
    font-size: 1.1rem;
    font-weight: 600;
}

.homeNav:hover {
    color: rgba(1, 176, 241, 1);

}

.navNameAndArrow:hover {
    color: rgba(1, 176, 241, 1);
    border-color: rgba(1, 176, 241, 1);
}

.navNameAndArrow:hover .navName {
    color: rgba(1, 176, 241, 1);
}

.contactUsBtn {

    background: rgba(1, 176, 241, 1);

    padding: 0.3rem 1rem;
    border-radius: 5px;
    margin-left: 7.5rem;
    font-weight: 600;

    font-size: 1rem;
    line-height: 1.8rem;
}

.dropDownContainer {
    position: absolute;
    top: 3rem;
    left: -9rem;
}





.navigationButton {
    display: flex;
    position: relative;
    column-gap: 8px;
}