.contactDetailSideBarContainer {
    background-color: #ECF6FA;
    padding: 1rem 20px;

}

.contactDetailSideBarHeading {
    font-weight: 600;
}

.contactDetailBox {
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;

    line-height: 1.2rem;
    margin-top: 0.7rem;
    flex-wrap: wrap;

    row-gap: 1.5rem;


}

.contactDetailSubBox1 {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contactDetailSubBox2 {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}