.section1 {
    background-image: url("../../assets/Hospitality/main2.webp");
    /* background-image: url("../../assets/Hospitality/main.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1700px;
    width: 100%;
    height: 996px;
    margin: 0px auto;
    position: relative;
    top: 90px;
    z-index: 1;
}







.laptopImg {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    bottom: 15.5rem;
}


.textBox {

    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


.text1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 53px;
}

.text2 {

    padding: 10px 60px;
    margin-top: 15px;
    font-size: 18px;
}


.text3 {

    margin-top: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.demoButton {

    background-color: rgba(1, 176, 241, 1);
    display: flex;
    gap: 10px;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;

}

.demoButton:hover {
    background-color: rgba(20, 176, 241, 1);
}

.demoArrowButton {
    padding-top: 3.5px;
}










/* section 2 */

.section2 {
    margin-bottom: 5rem;
}




.section2Heading {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 2.5rem;
}


.servicesBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 30px;
    padding: 20px;
}


.iconAndTextBox {
    width: 200px;
    padding: 8px;
    background-color: white;
    height: 210px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.iconAndTextBox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




.imgBox {
    padding: 10px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.imgBox img {
    width: 70%;
}


.serviceName {
    padding: 10px 15px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}



/* section3 */

.section3 {
    margin-bottom: 5rem;
}

.section3Heading {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    width: 70%;
    margin: 0px auto;
    margin-bottom: 2rem;
}


.section3Para {
    width: 76%;
    margin: 0px auto;

    text-align: center;
}

.section3Video {
    text-align: center;
    margin: 20px 0px;
}



/* section4 */


.section4 {
    margin-bottom: 1.3rem;
}


.section4Heading {

    font-size: 32px;
    font-weight: 600;
    text-align: center;
}


.clientSection {
    margin-bottom: 5rem;
    background-color: #80B4FB;
    padding: 25px 0px;
}

.clientLogoBox {
    display: flex;
    justify-content: center;
    gap: 0px 38px;
}



.section5 {
    margin-bottom: 5rem;

}

.section5Heading {
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}


.section5Subheading {

    text-align: center;
    font-size: 24px;
}


.feedBack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.feedBackArticleBox {
    width: 370px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
}


.section6 {
    margin-bottom: 5rem;
}

.section6Heading {
    margin-bottom: 2.5rem;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}


.storySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.storyBox {
    width: 370px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
}


.viewMoreBtn {
    background-color: rgba(20, 176, 241, 1);
    border: none;
    padding: 15px 90px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.section7 {
    margin-bottom: 5rem;
}

.section7Heading {
    margin-bottom: 2.5rem;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.insightSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.insightBox {
    width: 370px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
}


.cardBoxInnerHeading {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}




@media (max-width :1000px) {


    .section1 {
        top: 64px;
    }

    .text1 {
        font-size: 32px;
        line-height: normal;
    }

}

/* section4 */