.mainPriceContainer {
    /* position: fixed;
    width: 100%;
    top: 65px;
    background-color: white; */
    /* background: url("../../assets//phoneNavbar/bg/sideNavBg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* left: 0;
    height: 100vh;
    overflow-y: scroll; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* animation: slideIn 0.3s ease-out; */
    font-size: 16px;
    background-color: white;


}


.TopNavBar {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 65px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0px 15px;
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; */
    background: white;

    border-bottom: 1px solid rgba(0, 0, 0, 0.24);


}

.breadScrum
{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 1rem;
    column-gap: 0.3rem;
}

.arrowSign
{
    display: flex;
    align-items: center;
    padding-top: 2px;
}


.priceNavItemContainer {
    display: flex;
    column-gap: 4rem;
    margin: 2rem 0;
}


.priceNavItemSubContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}



.priceDetailBox {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;


}

.priceIcon {
    width: 1.5rem;

}

.iconSize {
    width: 100%;

}

.titleHeading {
    font-size: 14px;

}


.requestonButton
{
   margin-bottom: 4rem;
}


.ContactUsBox
{
    margin-top: 5rem;

}