.globalPageSize {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
    padding-top: 90px;

}

@media (max-width :1000px) {

    .globalPageSize {
        padding-top: 70px;
    }
}

.globalSectionSize {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
}


.insidePageUpperSection {
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    max-width: 1600px;

}