.globalPageSize {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
    padding-top: 90px;

}

@media (max-width :1000px) {

    .globalPageSize {
        padding-top: 70px;
    }
}

.globalSectionSize {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
}



.insidePageUpperSection {
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    max-width: 1600px;

}

@media (min-width : 1600px) {
    .insidePageUpperSection {
        width: 100%;
        margin: 0 auto;
        padding-top: 90px;
        max-width: 1150px;
    }
}



.indicators {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 15px;
}

.indicator {
    width: 23px;
    /* Adjust width for a more elliptical shape */
    height: 6px;
    /* Slightly decrease height */
    border-radius: 50px;
    /* Higher value for a smoother ellipse */
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
    /* Optional for a clean border */
    /* Default background color */
    margin: 0 4px;

}

.indicator.active {
  
    background-color: #012060;
}


