/* app.css */

@font-face {
  font-family: 'Segoe';
  src: url("./assets/font/SegoeUI.ttf") format('truetype');

}

@font-face {
  font-family: 'Segoe2';
  src: url("./assets/font/custom/segoeuithisz.ttf") format('truetype');

}

/* font syles */
.font1
{
  font-family: "Segoe";

}

.font2
{font-family: "Segoe2";

}


.linkClass
{
  text-decoration: none;
  color: black;
}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}